@model PartialView.Models.Department

@{
    Layout = null;
}

<div class="container">
    @using (Html.BeginForm())
    {

        <div class="form-group">
            @Html.LabelFor(s => s.Dept_Id, new { @class = "form-label mt-4" })
            @Html.TextBoxFor(s => s.Dept_Id, new { @class = "form-control" })
            @Html.ValidationMessageFor(s => s.Dept_Id, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(s => s.Dept_Name, new { @class = "form-label mt-4" })
            @Html.TextBoxFor(s => s.Dept_Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(S => S.Dept_Name, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(s => s.Dept_Desc, new { @class = "form-label mt-4" })
            @Html.TextBoxFor(s => s.Dept_Desc, new { @class = "form-control" })
            @Html.ValidationMessageFor(S => S.Dept_Desc, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(s => s.Dept_Location, new { @class = "form-label mt-4" })
            @Html.TextBoxFor(s => s.Dept_Location, new { @class = "form-control" })
            @Html.ValidationMessageFor(S => S.Dept_Location, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">

            <label for="Dept_Manager" class="form-label mt-4">Dept_Manager</label>
            <select class="form-select" id="Dept_Manager" name="Dept_Manager">
                @{
                    var found = ViewData["Instructor"] as List<PartialView.Models.Instructor>;
                    foreach (var item in found)
                    {
                        <option value="@item.Ins_Id">@item.Ins_Name</option>
                    }
                }
            </select>

        </div>
        <div class="form-group">
            @Html.LabelFor(s => s.Hiredate, new { @class = "form-label mt-4" })
            @Html.TextBoxFor(s => s.Hiredate, new { @class = "form-control" })
            @Html.ValidationMessageFor(S => S.Hiredate, "", new { @class = "text-danger" })
        </div>
        <br />
        <button type="submit" class="btn btn-outline-primary">Create</button>

    }
</div>